name: NPM Publish (pre)

on:
  pull_request:
    branches:
      - pre
    types:
      - closed

jobs:
  pre-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: git config --global user.email ${{secrets.E_MAIL}}
      - run: git config --global user.name "Diaz"
      - run: git remote set-url origin https://diaz-zeng:${{ secrets.GITHUB_TOKEN }}@github.com/diaz-zeng/project-enigma-core.git
      - run: yarn version --prerelease
      - run: git push --tags
      - run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}